<ion-content class="login-background">
  <div class="login-card">
    <h1 class="sign-in-title">SIGN IN</h1>

    <ion-item lines="none" class="input-item">
      <ion-input placeholder="Username" type="text"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input placeholder="Password" type="password"></ion-input>
    </ion-item>

    <div class="links">
      <a class="forgot-password" href="#">Forgot Password</a>
      <a class="signup-link" href="#">Signup</a>
    </div>

    <ion-button expand="block" class="login-button">
      Login
    </ion-button>
  </div>
</ion-content>
